<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog library configuration file -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}\Logs\nlog-logs.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true">
		<!-- File Target for all log messages at app startup, before DB initialization -->
		<target xsi:type="File"
				name="textFile"
				fileName="Logs\app-logs.txt"
				archiveFileName="Logs\app-logs_{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="90"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${aspnet-request-url}|${aspnet-request-ip}|${exception:format=tostring}" />

		<!-- Database Target to log exceptions in EddyLogging DB -->
		<target xsi:type="Database"
				name="database"
				connectionString="${appsettings:name=ConnectionStrings.EddyLoggingConnection}"
				commandText="
				INSERT INTO [dbo].[Exception]([Priority], [Severity], [Title], [Timestamp], [MachineName], [AppDomainName], [ProcessID], [ProcessName], [Message], [ExceptionMessage], [StackTrace])
				VALUES (@Priority, @Severity, @Title, GETDATE(), @MachieName, @AppDomainName, @ProcessID, @ProcessName, @Message, @ExceptionMessage, @StackTrace)">
			<parameter name="@Priority" layout="1" />
			<parameter name="@Severity" layout="Error" />
			<parameter name="@Title" layout="EDDY.IS.WidgetProvider.Service Exception" />
			<parameter name="@MachieName" layout="${machinename}" />
			<parameter name="@AppDomainName" layout="EDDY.IS.WidgetProvider.Service" />
			<parameter name="@ProcessID" layout="${processid}" />
			<parameter name="@ProcessName" layout="${processname}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@ExceptionMessage" layout="${exception:format=tostring}" />
			<parameter name="@StackTrace" layout="${stacktrace}" />
		</target>

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

		<!--<target xsi:type="Console"
            name="String"
            layout="Layout"
            footer="Layout"
            header="Layout"
            encoding="Encoding"
    />-->


		<target xsi:type="Null" name="blackHole" />

	</targets>

	<!-- Rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" writeTo="blackHole" final="true" />
		<!--<logger name="Microsoft.*" maxlevel="Info" writeTo="lifetimeConsole" final="true" />-->
		<logger name="*" minlevel="Info" writeTo="textFile" final="false" />
		<logger name="*" minlevel="Info" writeTo="lifetimeConsole" final="false" />
		<logger name="*" minlevel="Error" writeTo="database" final="true" />
	</rules>
</nlog>